body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('https://github.com/LilDooziSkrt/countdown-timer/blob/7d6f69b4a31da70de807da7629bca6232634495f/Final%20Background.JPG'); 
    background-size: cover;
    background-position: center;
    color: white;
    margin: 0;
    padding: 50px;
}

.countdown-container {
    font-size: 2rem;
    background: #228B22;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
}

#countdown {
    margin-top: 20px;
    font-weight: bold;
}
