body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('https://raw.githubusercontent.com/LilDooziSkrt/countdown-timer/main/Final%20Background.JPG');
    background-size: contain;  /* Ensures the whole image is visible */
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed; /* Keeps the image fixed while scrolling */
    color: white;
    margin: 0;
    padding: 75px;
    height: 75vh; /* Ensures full viewport coverage */
}


#countdown {
    font-size: 48px;
    font-weight: bold;
    color: forestgreen; /* Set the countdown timer color */
    background: rgba(0, 0, 0, 0.5); /* Optional: Add a slight dark background for readability */
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
}
